conda.enabled = true
singularity.enabled = true

executor {
    queueSize = 500
}

params {
	// inputs
	id = 'Cohort_ID'
	filter = true
	input_vcf = '/path/to/variants.vcf.gz'
	reference_fasta = '/path/to/Homo_sapiens_assembly38.fasta'
	gene_bed = '/pipeline_data/EpilepsyGenes_v2022-09_230210.bed'
	spliceai_distance = 500
	pangolin_distance = 500
	}

process {
	shell = ['/bin/bash', '-euo', 'pipefail']
	errorStrategy = { task.attempt <= 6 ? 'retry' : 'finish' }
	cache = 'lenient'

	withLabel:C1M1T1 {
		cpus = { 1 * task.attempt}
		memory = { 1 * task.attempt + ' GB' }
		time = { 1 * task.attempt + ' h'}
	}


	withLabel:C1M4T1 {
		cpus = 1
		memory = { 4 * task.attempt + ' GB' }
		time = { 1 * task.attempt + ' h' }
	}

	withLabel:C1M4T2 {
		cpus = 1
		memory = { 4 * task.attempt + ' GB' }
		time = { 2 * task.attempt + ' h' }
	}
