conda.enabled = true
singularity.enabled = true

executor {
    queueSize = 500
}

params {
	// inputs
	id = 'Cohort_ID'
	filter = true
	truth_dataset = false
	input_vcf = '/path/to/variants.vcf.gz'
	gnomad_toml = '/pipeline_data/gnomad.toml'
	clinvar_toml = '/pipeline_data/clinvar_toml'
	reference_fasta = '/path/to/Homo_sapiens_assembly38.fasta'
	gene_bed = '/pipeline_data/EpilepsyGenes_v2022-09_230210.bed'
	pangolin_db = '/pipeline_data/pangolin_gencode.v38.annotation.db'
	spliceai_db = '/pipeline_data/spliceai_gencode.v38.annotation.txt' 
	squirls_path = '/pipeline_data/squirls-cli-2.0.0.jar'
	vep_cache = '/path/to/vep-cache'
	spliceai_distance = 500
	pangolin_distance = 500
	}

process {
	shell = ['/bin/bash', '-euo', 'pipefail']
	errorStrategy = { task.attempt <= 6 ? 'retry' : 'finish' }
	cache = 'lenient'

	withLabel:C1M1T1 {
		cpus = { 1 * task.attempt}
		memory = { 1 * task.attempt + ' GB' }
		time = { 1 * task.attempt + ' h'}
	}


	withLabel:C1M4T1 {
		cpus = 1
		memory = { 4 * task.attempt + ' GB' }
		time = { 1 * task.attempt + ' h' }
	}

	withLabel:C1M4T2 {
		cpus = 1
		memory = { 4 * task.attempt + ' GB' }
		time = { 2 * task.attempt + ' h' }
	}
